<!doctype html>
<html>
<head>
    <title>atl-v-1.2</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
 <div class="container">

	 	

  <div class="logo">
  	<h1 class="atl">Atlanta Art Walk</h1>
   <nav>
     <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Walks</a></li>
      <li><a href="#">Galleries</a></li>
      <li><a href="#">Artists</a></li>
    </ul>
    </nav>
  </div>

 {{{body}}}
 </div>

  
</body>
</html>
